registry=https://pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/registry/ 
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/registry/:username=CPSAA
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/registry/:_password=ZnB1NHk1dnNpNm1vcnNpNHRkNW13M3ZucTR1a214bGNqZWl1bmc2NTNtYmNldjVuZ25lcQ==
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/registry/:email=omarcordero@multiplica.com
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/:username=CPSAA
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/:_password=ZnB1NHk1dnNpNm1vcnNpNHRkNW13M3ZucTR1a214bGNqZWl1bmc2NTNtYmNldjVuZ25lcQ==
//pkgs.dev.azure.com/CPSAA/_packaging/DevSecOps-Test/npm/:email=omarcordero@multiplica.com
; end auth token