<div style="display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <div style="border-bottom: 1px solid black; padding: 30px 20px; width: 30rem; text-align: -webkit-center;">
            <button-component text="Hola mundo" icon theme="pacasmayo"></button-component>
        </div>
        
        <div style="border-bottom: 1px solid black; padding: 30px 20px; width: 30rem;">
            <avatar-component text="OMAR CORDERO" short="OC" size="medium" theme="pacasmayo"></avatar-component>
        </div>
        
        <div style="border-bottom: 1px solid black; padding: 30px 20px; width: 30rem; text-align: -webkit-center;">
            <input-component
            placeholder="Ingresa tu nombre"
            label="Nombre"
            error=""
            helper=""
            theme="pacasmayo"
            ></input-component>
        </div>

        <div style="border-bottom: 1px solid white; padding: 30px 20px; width: 30rem; text-align: -webkit-center;">
            <tag-component variant="critical" text="This is a tag" theme="pacasmayo"></tag-component>
        </div>
    </div>
</div>